.git
.gitignore
.env
venv/
node_modules/
StudentEnrollmentApp/node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
sqlite_data.json
staticfiles/
media/
*.rar
*.zip
npm-debug.log
yarn-error.log
